@use 'sass:color';

@charset "UTF-8";

// Imports
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300;1,400;1,600;1,700&display=swap);
@import url(/css/materialize.min.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(/css/fontawesome.min.css);
@import url(/css/brands.min.css);

// Functions
@function ratioDimensions($factor: 1, $base-dimension: 12, $unit: pt) {
    $calcSize: $base-dimension * $factor;
    @return #{$calcSize}#{$unit};
}

// Variables
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(71, 67, 64, 1);
$color-gold-light: rgba(249, 229, 176, 1);
$color-gold: rgba(230, 175, 23, 1);
$color-blue-dark: rgba(2, 53, 83, 1);
$color-blue-mid: rgba(85, 143, 144, 1);
$color-red-dark: rgba(161, 5, 18, 1);
$color-gray-light: rgba(235, 235, 235, 1);
$color-gray-dark: rgba(71, 67, 64, 1);

$font-size-base: 12;
$font-size-basic: ratioDimensions(1, $font-size-base, pt);

$color-nav-background: $color-gold;
$color-nav-background-hover: color.adjust($color-nav-background, $lightness: -5%);
$color-link: $color-blue-dark;
$color-link-hover: color.adjust($color-link, $lightness: 15%);
$shadow-nav-item: -.5pt -.5pt 0 color.adjust($color-nav-background, $lightness: -10%);

// Typography
html,
button, input, optgroup, select, textarea {
    font-family: 'Josefin Sans', sans-serif;
    font-size: $font-size-basic;
}

html {
    line-height: 1.5;
}

p {
    text-align: justify;
}

h1 {
    font-size: ratioDimensions(2, $font-size-base, pt);
}
h2 {
    font-size: ratioDimensions(1.5, $font-size-base, pt);
}
h3, h4 {
    font-size: ratioDimensions(1.33333333333, $font-size-base, pt);
}

strong { 
    font-weight: 700; 
}

footer {

    p {
        text-align: left;
    }

    .social {
        font-size: ratioDimensions(2, $font-size-base, pt);
    }

    .footer-bottom-text {
        p {
            text-align: center;
        }
    }

    .footer-copyright {
        text-align: center;
    }
}

.card {
    .card-content p {
        text-align: left;
    }
}


// Layout/sizing
blockquote {
    padding-top: .25em;
    padding-bottom: .25em;
    padding-right: .5em;
}

body > header > nav {
    .nav-wrapper {
        padding-left: .5em;
        padding-right: .5em;

        .brand-logo {
            max-width: 7em;
            top: .25em;

            img {
                width: 100%;
            }
        }
    }
}

article, article section:first-child { 
    h2:first-child { 
        margin-top: 0;
    }
}

article aside .collection.with-header {
    border-width: 0 0 0 1px;

    .collection-header {
        padding-top: 0;

        h4 {
            margin-top: .25em;
        }
    }
}

footer {
    h1, h2, h3, h4, h5, p { 
        margin-top: .5em;
    }

    .social {  
        margin: 0;
    }   
}

.card-content p:not(:last-child) {
    margin-bottom: 1em;
}

.bio .card-image img {
    object-fit: cover;
}

// Colors
html {
    color: $color-black;
}

a {
    color: $color-link;

    &:hover {
        color: $color-link-hover;
    }
}

h1 {
    color: $color-blue-dark;
}

h2 {
    color: $color-blue-mid;
}

main aside .collection-header h4 {
    color: $color-red-dark;
}

nav {
    background-color: $color-nav-background;

    ul:not(.dropdown-content) {
        li {
            a.active {
                background-color: $color-white;
                color: $color-black;
            }

            a:not(.active) {
                text-shadow: $shadow-nav-item;
            }

            a:hover:not(.active) {
                background-color: $color-nav-background-hover;
                color: $color-white;
            }
        }
    }
}

.collection {
    a.collection-item {
        color: $color-link;
    }
}

blockquote {
    background-color: $color-gray-light;
    border-left-color: $color-blue-mid;
}

.bio {
    .card-title {
        color: $color-blue-dark;
    }

    .card-content .role {
        color: $color-blue-mid;
    }
}

footer {
    &.page-footer, &.page-footer p {
        color: $color-black;
    }

    h1, h2, h3, h4 {
        color: $color-blue-mid;
    }

    a {
        text-decoration: underline;
    }

    .social a {
        color: $color-red-dark;

        &:hover {
            color: color.adjust($color-red-dark, $lightness: -15%);
        }
    }
}

.page-footer {
    background-color: $color-gold-light;

    .footer-copyright {
        background-color: $color-gold;
    }
}