<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f822206-1e73-4545-94f7-37bd0c0ef8ed" Alias="Bio Media Picker" Level="1">
  <Info>
    <Name>Bio Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Square",
      "alias": "square",
      "width": 800,
      "height": 800
    }
  ],
  "startNodeId": "fe487f98-3c41-4ef7-b880-11fbb13809b0"
}]]></Config>
</DataType>