<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cc76ec59-1bfd-467b-a03b-b8430b4a29b2" Alias="Class Description - Promo Image - Media Picker Property Editor UI" Level="1">
  <Info>
    <Name>Class Description - Promo Image - Media Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "startNodeId": "f39e3541-ae4e-4716-af15-d8d350c97a40"
}]]></Config>
</DataType>