<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49de5481-5ed6-4839-a7a3-b49a096f2f5b" Alias="Class Description - Description - Markdown Editor Property Editor UI" Level="1">
  <Info>
    <Name>Class Description - Description - Markdown Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MarkdownEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>