<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5a48f5d2-af9a-40f4-8075-d370abc1db72" Alias="External Content Block - External Content - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>External Content Block - External Content - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>