<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0d54e2e-a929-4556-ac80-128dc9f39ec0" Alias="Groove Juice Special - Promo Image - Media Picker Property Editor UI" Level="1">
  <Info>
    <Name>Groove Juice Special - Promo Image - Media Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "startNodeId": "f60001ef-d1de-4aba-adaa-1ba3d32134aa"
}]]></Config>
</DataType>