<?xml version="1.0" encoding="utf-8"?>
<DataType Key="422d27bc-b324-42f2-9ae2-c7991566999d" Alias="Homepage - Banner Image - Media Picker Property Editor UI" Level="1">
  <Info>
    <Name>Homepage - Banner Image - Media Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "startNodeId": "9b855bf0-c530-47f5-9efc-78043c52561c"
}]]></Config>
</DataType>