<?xml version="1.0" encoding="utf-8"?>
<DataType Key="640a8a79-b097-44c2-9272-74facd671a15" Alias="Regular Event - Promo Image - Media Picker Property Editor UI (1)" Level="1">
  <Info>
    <Name>Regular Event - Promo Image - Media Picker Property Editor UI (1)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8",
  "startNodeId": "2fd10ac5-0c50-4ab3-8c2a-785efd5c8973"
}]]></Config>
</DataType>