<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b4355f8-5116-4996-a612-626997544c22" Alias="Regular Event - Description - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Regular Event - Description - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>