<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da17d7e0-f935-4978-ac47-d29539e8950e" Alias="Regular Event List Block - Parent Page - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>Regular Event List Block - Parent Page - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 0,
  "minNumber": 0
}]]></Config>
</DataType>