<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9397490c-8b01-4ade-9ff4-68e77591148d" Alias="Regular Event Media Picker" Level="1">
  <Info>
    <Name>Regular Event Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Square",
      "alias": "square",
      "width": 800,
      "height": 800
    }
  ],
  "startNodeId": "2fd10ac5-0c50-4ab3-8c2a-785efd5c8973"
}]]></Config>
</DataType>