<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2bf763b0-3810-46ff-8635-2e0dceaf82cc" Alias=" -  - Rich Text Editor Property Editor UI" Level="1">
  <Info>
    <Name> -  - Rich Text Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "550af689-467e-4c55-a8bd-b51824f48231"
    },
    {
      "contentElementTypeKey": "88315286-be2a-4450-8ef2-077fcee2892d"
    },
    {
      "contentElementTypeKey": "99f539ed-aa01-4d62-955d-4014bca9174d"
    }
  ],
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "table",
    "link",
    "unlink",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "umbblockpicker"
  ]
}]]></Config>
</DataType>