<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9507805-fc41-454a-b88b-a38e2e539cc1" Alias="Test1 Bio - Biography - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Test1 Bio - Biography - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>