<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a52d507e-f747-449b-80aa-b47ee6351930" Alias="Test2 Basic Page - Custom Styles - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Test2 Basic Page - Custom Styles - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>