<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ca94dab-5dd6-476a-ac2e-7a7d139b8348" Alias="Test Block 1 - Property1 - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Test Block 1 - Property1 - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>