<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d237b953-6ac7-45de-b6b2-010233586bd2" Alias="Test 2 Basic Page -  - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>Test 2 Basic Page -  - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0add2983-5929-41df-be17-ca091fadd242",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": "Rich Text Editor Block"
    },
    {
      "contentElementTypeKey": "99f539ed-aa01-4d62-955d-4014bca9174d",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": "Bio List Block"
    },
    {
      "contentElementTypeKey": "550af689-467e-4c55-a8bd-b51824f48231",
      "allowAtRoot": true,
      "allowInAreas": true,
      "label": "External Content"
    },
    {
      "contentElementTypeKey": "6d925317-9b05-4dd5-bf87-2f1286cf233a",
      "allowAtRoot": true,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "88315286-be2a-4450-8ef2-077fcee2892d",
      "allowAtRoot": true,
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>