<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b00d0953-f149-4aef-bd39-8f0b8217a3fa" Alias="Test1 Basic Page -  - Code Editor Property Editor UI" Level="1">
  <Info>
    <Name>Test1 Basic Page -  - Code Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CodeEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "height": 400,
  "language": [
    "csharp"
  ],
  "lineNumbers": true,
  "minimap": true,
  "wordWrap": false
}]]></Config>
</DataType>