<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c96ed62-6b82-42ae-8bb5-35edf0026f48" Alias="Test1 -  - Markdown Editor Property Editor UI" Level="1">
  <Info>
    <Name>Test1 -  - Markdown Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MarkdownEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>