@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.PublishedCache
@using Umbraco.Cms.Core.Routing
@using Umbraco.Cms.Core.Services.Navigation
@using Umbraco.Extensions
@using Umbraco.Cms.Core.Models

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@inject IVariationContextAccessor VariationContextAccessor
@inject IPublishedContentCache PublishedContentCache
@inject IDocumentNavigationQueryService DocumentNavigationQueryService

@{ var bios = Model.Children(VariationContextAccessor, PublishedContentCache, DocumentNavigationQueryService).Where(x => x.IsVisible(PublishedValueFallback)).ToArray(); }

@* Ensure that the Current Page has children *@
@if (bios?.Length > 0)
{
    @* Loop through the selection *@
    @foreach (var bio in bios)
    {
        var name = bio.Name;
        var photo = bio.Value<MediaWithCrops>("photo");
        var role = bio.Value("role");
        var pronouns = bio.Value("pronouns");
        var biography = bio.Value("biography");

        <div class="card">
            <div class="card-image">
                @if (photo != null)
                {
                    <img src="@photo.MediaUrl()" alt="@name" />
                }
                <span class="card-title">@name</span>
            </div>
            <div class="card-content">
                <p>@role |  @pronouns | @biography</p>
            </div>
        </div>
    }
}