<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="119cd621-9185-4ca8-85a2-b2c901ca47ec" Alias="basicPage" Level="2">
  <Info>
    <Name>Basic Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>basicPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="98c7f914-2ffa-45ea-88a3-a7a6e7fb5330">basicPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ef8460a1-68fe-4694-a62a-1046d68a7508" SortOrder="0">bio</ContentType>
    <ContentType Key="119cd621-9185-4ca8-85a2-b2c901ca47ec" SortOrder="1">basicPage</ContentType>
    <ContentType Key="b84e0718-517c-42d0-93aa-1446578acdc1" SortOrder="2">regularEvent</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>26ec3918-a357-4d00-a35c-2b1270ced7cd</Key>
      <Name>Block Grid</Name>
      <Alias>blockGrid</Alias>
      <Definition>d237b953-6ac7-45de-b6b2-010233586bd2</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e30bbbc4-7c88-47ad-bf88-caee053eebc3</Key>
      <Name>Custom Scripts</Name>
      <Alias>customScripts</Alias>
      <Definition>0319d816-2e30-4be8-aac5-50e69d3cd95d</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="developer">Developer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b73488f7-0ef5-435c-a301-be446d69174e</Key>
      <Name>Custom Styles</Name>
      <Alias>customStyles</Alias>
      <Definition>a52d507e-f747-449b-80aa-b47ee6351930</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="design">Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c0f1ffdf-dee3-4c5c-83b5-e042f0efb550</Key>
      <Name>Show Subnavigation</Name>
      <Alias>showSubnav</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation/subNavigation">Sub Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c057bac5-8ace-4adb-819c-1962291c9010</Key>
      <Name>Subnav from Node</Name>
      <Alias>subnavFromNode</Alias>
      <Definition>ed3d467b-46e0-4833-8466-a52adf918725</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="navigation/subNavigation">Sub Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0e63af58-e54f-4edb-a953-4d943a987497</Key>
      <Name>Subnav Title</Name>
      <Alias>subnavTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="navigation/subNavigation">Sub Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>28725ebe-4b96-4810-b24b-b25a5103772f</Key>
      <Name>Hide From Navigation</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>17d10349-43cb-4834-af35-2438389e59c4</Key>
      <Caption>Design</Caption>
      <Alias>design</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>325f4f0a-c98b-416d-b071-fc8ff40d9963</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>64a2618d-f321-4eb5-90cc-f46131de4fe0</Key>
      <Caption>Navigation</Caption>
      <Alias>navigation</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>78d118fd-1fcb-45ce-9f49-c0a6ab2df2fc</Key>
      <Caption>Developer</Caption>
      <Alias>developer</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>a2e3566e-a393-41cd-bc14-38222970ee97</Key>
      <Caption>Content</Caption>
      <Alias>general/content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e8f082cd-8e48-49ce-9525-22f452a4dbcf</Key>
      <Caption>Sub Navigation</Caption>
      <Alias>navigation/subNavigation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>