<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="444da3f9-cece-443f-94a7-6d40fcdf7703" Alias="grooveJuiceSpecials" Level="2">
  <Info>
    <Name>Groove Juice Specials</Name>
    <Icon>icon-folder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Special+Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b52300b1-ecc7-4ead-a954-651b022c1219" SortOrder="0">grooveJuiceSpecial</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>