<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b52300b1-ecc7-4ead-a954-651b022c1219" Alias="grooveJuiceSpecial" Level="2">
  <Info>
    <Name>Groove Juice Special</Name>
    <Icon>icon-calendar</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Special+Content</Folder>
    <Compositions />
    <DefaultTemplate>basicPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="98c7f914-2ffa-45ea-88a3-a7a6e7fb5330">basicPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e7fb614e-d50e-4cd9-94d7-ed74eff730ca</Key>
      <Name>Admission</Name>
      <Alias>admission</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="summary/basicInformation">Basic Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>87ba845b-a4dc-4c03-bb2b-a1ce00df6604</Key>
      <Name>Block Grid</Name>
      <Alias>blockGrid</Alias>
      <Definition>d237b953-6ac7-45de-b6b2-010233586bd2</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageContent">Page Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f3516317-50af-4363-abdd-d91200cd9d13</Key>
      <Name>Custom Scripts</Name>
      <Alias>customScripts</Alias>
      <Definition>0319d816-2e30-4be8-aac5-50e69d3cd95d</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="developer">Developer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6785b80e-607e-43a1-83d0-a04af88791e9</Key>
      <Name>Custom Styles</Name>
      <Alias>customStyles</Alias>
      <Definition>a52d507e-f747-449b-80aa-b47ee6351930</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="design">Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7bda6ae9-44ba-482e-8705-929975001361</Key>
      <Name>Date/Time</Name>
      <Alias>dateTime</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="summary/basicInformation">Basic Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>58765e62-be9d-4b6d-8758-928bdbff9b0a</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>2c96ed62-6b82-42ae-8bb5-35edf0026f48</Definition>
      <Type>Umbraco.MarkdownEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="summary/basicInformation">Basic Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>41c43379-1a95-48f3-83f8-025808db10b8</Key>
      <Name>Location</Name>
      <Alias>location</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="summary/basicInformation">Basic Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>788c069f-df77-450f-9b21-ab82f47ede0a</Key>
      <Name>Promo Image</Name>
      <Alias>promoImage</Alias>
      <Definition>b0d54e2e-a929-4556-ac80-128dc9f39ec0</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="summary/basicInformation">Basic Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2c36b792-4dbf-44a0-b0c7-a23b6a1250dc</Key>
      <Caption>Summary</Caption>
      <Alias>summary</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>31d22799-d350-4c8b-bd25-1c3a99269bfc</Key>
      <Caption>Developer</Caption>
      <Alias>developer</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>50b6cef2-cdf3-4a7a-94f5-4c10a11605d4</Key>
      <Caption>Basic Information</Caption>
      <Alias>summary/basicInformation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e9b58351-3dd7-4dd2-83c7-a7c326826ebe</Key>
      <Caption>Design</Caption>
      <Alias>design</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>f75df898-b671-4813-82ff-c3bc25e520b2</Key>
      <Caption>Page Content</Caption>
      <Alias>pageContent</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>