<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b84e0718-517c-42d0-93aa-1446578acdc1" Alias="regularEvent" Level="2">
  <Info>
    <Name>Regular Event</Name>
    <Icon>icon-calendar-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Special+Content</Folder>
    <Compositions />
    <DefaultTemplate>basicPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="98c7f914-2ffa-45ea-88a3-a7a6e7fb5330">basicPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f5ddb593-08f4-4121-8471-6d1cfda4be22</Key>
      <Name>Admission</Name>
      <Alias>admission</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="summary/basicInformation">Basic Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b7ea319e-9378-4afd-a95b-ae58da5b5e39</Key>
      <Name>Block Grid</Name>
      <Alias>blockGrid</Alias>
      <Definition>d237b953-6ac7-45de-b6b2-010233586bd2</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageContent">Page Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b77e4cb9-0b3c-4779-a40f-df99affc8a70</Key>
      <Name>Custom Scripts</Name>
      <Alias>customScripts</Alias>
      <Definition>0319d816-2e30-4be8-aac5-50e69d3cd95d</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="developer">Developer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ecdc4baf-316d-4874-a387-ab8afe020b28</Key>
      <Name>Custom Styles</Name>
      <Alias>customStyles</Alias>
      <Definition>a52d507e-f747-449b-80aa-b47ee6351930</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="design">Design</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>977c2afa-0524-45fe-a81d-7d1bd6f71dcc</Key>
      <Name>Days/Times</Name>
      <Alias>daysTimes</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="summary/basicInformation">Basic Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ad41906b-45f6-41ca-8413-9da4318dd592</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>2c96ed62-6b82-42ae-8bb5-35edf0026f48</Definition>
      <Type>Umbraco.MarkdownEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="summary/basicInformation">Basic Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>386ff156-3685-4a07-b27a-15964b11de6d</Key>
      <Name>Location</Name>
      <Alias>location</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="summary/basicInformation">Basic Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1112ceb5-f04b-4ae0-a54e-ae417866d5e0</Key>
      <Name>Promo Image</Name>
      <Alias>promoImage</Alias>
      <Definition>9397490c-8b01-4ade-9ff4-68e77591148d</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="summary/basicInformation">Basic Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a319a516-3a41-4865-927c-caed2dd8e8ac</Key>
      <Name>Show More Info Link</Name>
      <Alias>showMoreInfoLink</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="summary/basicInformation">Basic Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0c54d0bf-b029-4251-8ce7-6b501bb14fad</Key>
      <Caption>Design</Caption>
      <Alias>design</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>0eaefb6f-3676-4d0a-84ac-956a1b5b04f3</Key>
      <Caption>Page Content</Caption>
      <Alias>pageContent</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>1af32148-9c48-44a1-82f8-d86ccedf498d</Key>
      <Caption>Basic Information</Caption>
      <Alias>summary/basicInformation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d38126c9-1bec-49b3-8236-7198982f16ce</Key>
      <Caption>Summary</Caption>
      <Alias>summary</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f3c753e3-7e7c-4f92-8840-d347c7b051ca</Key>
      <Caption>Developer</Caption>
      <Alias>developer</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>