<?xml version="1.0" encoding="utf-8"?>
<Media Key="868e7e23-a851-4aec-a9be-263ff8c7b7a8" Alias="0778.jpg" Level="2">
  <Info>
    <Parent Key="fe487f98-3c41-4ef7-b880-11fbb13809b0">Bios</Parent>
    <Path>/Bios/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-05T22:36:27</CreateDate>
    <NodeName Default="0778.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vs0mqmby/0778.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>