<?xml version="1.0" encoding="utf-8"?>
<Media Key="1561f459-17e1-4fa5-b19c-744db73b1c55" Alias="1000_F_521060781_EUsWXbaLXPPUB4CLSVmPjJ1kI9FLELyS.jpg" Level="2">
  <Info>
    <Parent Key="fe487f98-3c41-4ef7-b880-11fbb13809b0">Bios</Parent>
    <Path>/Bios/F_521060781_EUsWXbaLXPPUB4CLSVmPjJ1kI9FLELySjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-05T22:40:12</CreateDate>
    <NodeName Default="1000_F_521060781_EUsWXbaLXPPUB4CLSVmPjJ1kI9FLELyS.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0y5cpi2i/1000_f_521060781_euswxbalxppub4clsvmpjj1ki9flelys.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>