<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd8ff5aa-0208-40bb-bdbe-15247b6a1951" Alias="1000_F_336449581_4MwlMeimHwsdpPKYWpVgjP6l9in9j8Be.jpg" Level="2">
  <Info>
    <Parent Key="fe487f98-3c41-4ef7-b880-11fbb13809b0">Bios</Parent>
    <Path>/Bios/F_336449581_4MwlMeimHwsdpPKYWpVgjP6l9in9j8Bejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-22T14:27:17</CreateDate>
    <NodeName Default="1000_F_336449581_4MwlMeimHwsdpPKYWpVgjP6l9in9j8Be.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eu5ns01b/1000_f_336449581_4mwlmeimhwsdppkywpvgjp6l9in9j8be.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>