<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc892c29-bcf5-4805-bda9-a1c759d7110b" Alias="4_325x271.jpg" Level="2">
  <Info>
    <Parent Key="2fd10ac5-0c50-4ab3-8c2a-785efd5c8973">Events</Parent>
    <Path>/Events/x271jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-01T21:40:11</CreateDate>
    <NodeName Default="4_325x271.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/u1tm4cu2/4_325x271.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>