<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c13de5a-3a64-4fc1-be90-504da612b784" Alias="background1.jpg" Level="2">
  <Info>
    <Parent Key="9b855bf0-c530-47f5-9efc-78043c52561c">Banners</Parent>
    <Path>/Banners/background1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-05T22:49:45</CreateDate>
    <NodeName Default="background1.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0ukfkoqn/background1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>