<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c9128b0-0d73-4c37-b768-c1e0508df2cc" Alias="background3.jpg" Level="2">
  <Info>
    <Parent Key="9b855bf0-c530-47f5-9efc-78043c52561c">Banners</Parent>
    <Path>/Banners/background3jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-05T23:14:47</CreateDate>
    <NodeName Default="background3.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/h5rnpgq0/background3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>