<?xml version="1.0" encoding="utf-8"?>
<Media Key="346f4768-fb14-4263-a9f0-9fe9b746544a" Alias="background2.jpg" Level="2">
  <Info>
    <Parent Key="9b855bf0-c530-47f5-9efc-78043c52561c">Banners</Parent>
    <Path>/Banners/background2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-05T23:12:00</CreateDate>
    <NodeName Default="background2.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/24gdtat3/background2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>