<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b855bf0-c530-47f5-9efc-78043c52561c" Alias="Banners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Banners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-01-05T22:42:00</CreateDate>
    <NodeName Default="Banners" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>