<?xml version="1.0" encoding="utf-8"?>
<Media Key="39def351-c49a-4ace-bc6a-2247b1d6b5cf" Alias="Beginner Progression" Level="2">
  <Info>
    <Parent Key="55be4012-ad20-4805-8b12-12d8c295f584">Curriculum</Parent>
    <Path>/Curriculum/BeginnerProgression</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-09T10:10:02</CreateDate>
    <NodeName Default="Beginner Progression" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1y2jrd5t/class_progression_graphics_2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>