<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe487f98-3c41-4ef7-b880-11fbb13809b0" Alias="Bios" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bios</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-20T22:43:03</CreateDate>
    <NodeName Default="Bios" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>