<?xml version="1.0" encoding="utf-8"?>
<Media Key="f39e3541-ae4e-4716-af15-d8d350c97a40" Alias="Classes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Classes</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-01-12T22:35:34</CreateDate>
    <NodeName Default="Classes" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>