<?xml version="1.0" encoding="utf-8"?>
<Media Key="55be4012-ad20-4805-8b12-12d8c295f584" Alias="Curriculum" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Curriculum</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-09T10:09:44</CreateDate>
    <NodeName Default="Curriculum" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>