<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fd10ac5-0c50-4ab3-8c2a-785efd5c8973" Alias="Events" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Events</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-31T21:11:42</CreateDate>
    <NodeName Default="Events" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>