<?xml version="1.0" encoding="utf-8"?>
<Media Key="f60001ef-d1de-4aba-adaa-1ba3d32134aa" Alias="Groove Juice Specials" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GrooveJuiceSpecials</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-01-12T22:51:11</CreateDate>
    <NodeName Default="Groove Juice Specials" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>