<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc18d2ca-383f-4436-9d29-d0591a47550c" Alias="Improver Progression" Level="2">
  <Info>
    <Parent Key="55be4012-ad20-4805-8b12-12d8c295f584">Curriculum</Parent>
    <Path>/Curriculum/ImproverProgression</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-09T10:10:38</CreateDate>
    <NodeName Default="Improver Progression" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/iumf20sw/class_progression_graphics_3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>