<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebf19459-694c-4828-8a4c-fa4f8f539f67" Alias="Logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-22T14:51:56</CreateDate>
    <NodeName Default="Logos" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>