<?xml version="1.0" encoding="utf-8"?>
<Media Key="1285bbc4-d92a-41d6-b01e-971d61239db8" Alias="manifesto_image_5_300x200.jpg" Level="2">
  <Info>
    <Parent Key="d5ce7ad4-e68f-4398-8dea-177327b496d1">Manifesto</Parent>
    <Path>/Manifesto/manifesto_image_5_300x200jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-30T20:40:49</CreateDate>
    <NodeName Default="manifesto_image_5_300x200.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jnynhjcd/manifesto_image_5_300x200.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>