<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ccfe424-2d27-4a37-83e2-3ff6f5cbb50f" Alias="manifesto_image_4_200x201.jpg" Level="2">
  <Info>
    <Parent Key="d5ce7ad4-e68f-4398-8dea-177327b496d1">Manifesto</Parent>
    <Path>/Manifesto/manifesto_image_4_200x201jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-30T20:40:47</CreateDate>
    <NodeName Default="manifesto_image_4_200x201.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vmxit0so/manifesto_image_4_200x201.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>