<?xml version="1.0" encoding="utf-8"?>
<Media Key="25935d89-9017-4cac-8bb9-6c1a6299f7c9" Alias="manifesto_image_1_300x113.jpg" Level="2">
  <Info>
    <Parent Key="d5ce7ad4-e68f-4398-8dea-177327b496d1">Manifesto</Parent>
    <Path>/Manifesto/manifesto_image_1_300x113jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-30T20:40:27</CreateDate>
    <NodeName Default="manifesto_image_1_300x113.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/a0lnle14/manifesto_image_1_300x113.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>