<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5ce7ad4-e68f-4398-8dea-177327b496d1" Alias="Manifesto" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Manifesto</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-12-30T20:40:22</CreateDate>
    <NodeName Default="Manifesto" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>