<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f7ba2b2-a9ff-439c-85cb-044ce180b5f7" Alias="o.jpg" Level="2">
  <Info>
    <Parent Key="2fd10ac5-0c50-4ab3-8c2a-785efd5c8973">Events</Parent>
    <Path>/Events/ojpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-31T21:28:17</CreateDate>
    <NodeName Default="o.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hvud1kmw/o.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>