<?xml version="1.0" encoding="utf-8"?>
<Media Key="de217c18-4870-4dc7-bf7d-5b43bee0221a" Alias="Sweetheart_Ball_2025_Instagram_Post.jpg" Level="2">
  <Info>
    <Parent Key="f60001ef-d1de-4aba-adaa-1ba3d32134aa">Groove Juice Specials</Parent>
    <Path>/GrooveJuiceSpecials/Sweetheart_Ball_2025_Instagram_Postjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-12T22:53:19</CreateDate>
    <NodeName Default="Sweetheart_Ball_2025_Instagram_Post.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/s41go0az/sweetheart_ball_2025_instagram_post.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>