<?xml version="1.0" encoding="utf-8"?>
<Media Key="edf63d38-676c-4525-8d58-ec0a2b9159a8" Alias="young-handsome-indian-man-wearing-t-shirt-over-isolated-red-background-smiling-looking-camera-pointing-two-hands-212671558.webp" Level="2">
  <Info>
    <Parent Key="fe487f98-3c41-4ef7-b880-11fbb13809b0">Bios</Parent>
    <Path>/Bios/youngHandsomeIndianManWearingTShirtOverIsolatedRedBackgroundSmilingLookingCameraPointingTwoHands212671558webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-01-05T22:39:17</CreateDate>
    <NodeName Default="young-handsome-indian-man-wearing-t-shirt-over-isolated-red-background-smiling-looking-camera-pointing-two-hands-212671558.webp" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/w51lawyf/young-handsome-indian-man-wearing-t-shirt-over-isolated-red-background-smiling-looking-camera-pointing-two-hands-212671558.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>