@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "test1MasterTemplate.cshtml";
	var logo = Model.Value<MediaWithCrops>("logo", fallback: Fallback.ToAncestors);	
}
@if (logo != null) {
<header>
<img src="@logo.MediaUrl()" alt="Logo" />
</header>
}
<main>
@Model.Value("content1")
</main>
<footer>
Copyright &copy; @DateTime.Now.Year @Model.Value("footerCopyrightHolder")
</footer>