@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
	Layout = "test1MasterTemplate.cshtml";
	var showSubNav = Model.Value<bool>("showSubnav", fallback: Fallback.ToAncestors);
	var subNavNode = Model.Value<IPublishedContent>("subNavFromNode", fallback: Fallback.ToAncestors);
	var subNavTitle = Model.Value<string>("subnavTitle", fallback: Fallback.ToAncestors);
}
<h1>@Model.Name</h1>
<article>
@{
	Html.RenderPartial("Partials/ListBiosFromCurrentPage.cshtml");
}
</article>