<?xml version="1.0" encoding="utf-8"?>
<Content Key="818fce68-2fa5-42f5-a2a4-e541a495f126" Alias="Bart McBrackson" Level="3">
  <Info>
    <Parent Key="e6cf860e-015e-4514-8bda-352729a03503">Who We Are</Parent>
    <Path>/GrooveJuiceSwing/WhoWeAre/BartMcBrackson</Path>
    <Trashed>false</Trashed>
    <ContentType>bio</ContentType>
    <CreateDate>2024-12-23T00:13:17</CreateDate>
    <NodeName Default="Bart McBrackson" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <biography>
      <Value><![CDATA[Hey, it had to be somebody!]]></Value>
    </biography>
    <photo>
      <Value><![CDATA[[
  {
    "key": "7da04be9-7e59-4800-8036-5da18215f046",
    "mediaKey": "027a15d9-beb7-4d1b-a9a0-fcd3a91fac30",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </photo>
    <pronouns>
      <Value><![CDATA[They/They]]></Value>
    </pronouns>
    <role>
      <Value><![CDATA[Lead Crumble Topper]]></Value>
    </role>
  </Properties>
</Content>