<?xml version="1.0" encoding="utf-8"?>
<Content Key="bfd37bd4-79bf-47d2-9d64-15e931f39134" Alias="Class Descriptions" Level="3">
  <Info>
    <Parent Key="3b754b01-a5f4-4fb4-94cd-86c26f9e6c69">Classes</Parent>
    <Path>/GrooveJuiceSwing/Classes/ClassDescriptions</Path>
    <Trashed>false</Trashed>
    <ContentType>classDescriptions</ContentType>
    <CreateDate>2025-01-12T22:39:00</CreateDate>
    <NodeName Default="Class Descriptions" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>