<?xml version="1.0" encoding="utf-8"?>
<Content Key="12c8b90c-4325-40fc-9c0e-c0ab32c2c37e" Alias="Data Deletion" Level="4">
  <Info>
    <Parent Key="23df10b2-e323-46f0-bc9e-80b19fde5d64">Policies</Parent>
    <Path>/GrooveJuiceSwing/AboutUs/Policies/DataDeletion</Path>
    <Trashed>false</Trashed>
    <ContentType>basicPage</ContentType>
    <CreateDate>2024-12-30T00:38:04</CreateDate>
    <NodeName Default="Data Deletion" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98c7f914-2ffa-45ea-88a3-a7a6e7fb5330">basicPageTemplate</Template>
  </Info>
  <Properties>
    <blockGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0add2983-5929-41df-be17-ca091fadd242",
      "key": "ad9200c9-526a-492b-95d9-25fd5117eeca",
      "udi": null,
      "values": [
        {
          "alias": "blockRTE1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp data-pm-slice=\u00221 1 []\u0022\u003EIf you desire for your data to be deleted from Groove Juice Swing\u0027s records, please send an email to \u003Ca type=\u0022external\u0022 href=\u0022mailto:info@groovejuiceswing.com\u0022 target=\u0022\u0022 data-router-slot=\u0022disabled\u0022\u003Einfo@groovejuiceswing.com\u003C/a\u003E and we will delete any records associated with your email address.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ad9200c9-526a-492b-95d9-25fd5117eeca",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "ad9200c9-526a-492b-95d9-25fd5117eeca",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockGrid>
    <customScripts>
      <Value><![CDATA[]]></Value>
    </customScripts>
    <customStyles>
      <Value><![CDATA[]]></Value>
    </customStyles>
    <showSubnav>
      <Value><![CDATA[]]></Value>
    </showSubnav>
    <subnavFromNode>
      <Value><![CDATA[]]></Value>
    </subnavFromNode>
    <subnavTitle>
      <Value><![CDATA[]]></Value>
    </subnavTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>