<?xml version="1.0" encoding="utf-8"?>
<Content Key="405f1468-400a-41e5-a67f-dbe11c3d800c" Alias="Events" Level="2">
  <Info>
    <Parent Key="8e162f00-50c0-470c-8588-13c2ea55334b">Groove Juice Swing</Parent>
    <Path>/GrooveJuiceSwing/Events</Path>
    <Trashed>false</Trashed>
    <ContentType>basicPage</ContentType>
    <CreateDate>2024-12-22T22:53:24</CreateDate>
    <NodeName Default="Events" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98c7f914-2ffa-45ea-88a3-a7a6e7fb5330">basicPageTemplate</Template>
  </Info>
  <Properties>
    <blockGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "550af689-467e-4c55-a8bd-b51824f48231",
      "key": "b00e1539-f6fa-4322-bad7-dc3a5f64c17d",
      "udi": null,
      "values": [
        {
          "alias": "externalContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u003Ciframe src=\u0022https://calendar.google.com/calendar/embed?height=600\u0026wkst=1\u0026ctz=America%2FNew_York\u0026mode=AGENDA\u0026title=Groove%20Juice%20Swing%20Events\u0026showPrint=0\u0026showNav=0\u0026showTabs=0\u0026showCalendars=0\u0026src=Z3Jvb3ZlanVpY2Vzd2luZy5jb21fYjQ2ZHZxZmo2bGVka2Q5bW5jamptNmExZThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ\u0026color=%23F09300\u0022 frameborder=\u00220\u0022 scrolling=\u0022no\u0022 style=\u0022width: 100%; min-height: 600px\u0022\u003E\u003C/iframe\u003E"
        }
      ]
    },
    {
      "contentTypeKey": "88315286-be2a-4450-8ef2-077fcee2892d",
      "key": "94ad75b3-6579-45d6-9e25-20ce30a972db",
      "udi": null,
      "values": [
        {
          "alias": "parentPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/405f1468400a41e5a67fdbe11c3d800c"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b00e1539-f6fa-4322-bad7-dc3a5f64c17d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "94ad75b3-6579-45d6-9e25-20ce30a972db",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "94ad75b3-6579-45d6-9e25-20ce30a972db",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "b00e1539-f6fa-4322-bad7-dc3a5f64c17d",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockGrid>
    <customScripts>
      <Value><![CDATA[]]></Value>
    </customScripts>
    <customStyles>
      <Value><![CDATA[]]></Value>
    </customStyles>
    <showSubnav>
      <Value><![CDATA[]]></Value>
    </showSubnav>
    <subnavFromNode>
      <Value><![CDATA[]]></Value>
    </subnavFromNode>
    <subnavTitle>
      <Value><![CDATA[]]></Value>
    </subnavTitle>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>