<?xml version="1.0" encoding="utf-8"?>
<Content Key="37d3ef85-9a9c-422a-ae79-ffe65d040625" Alias="GJS Manifesto" Level="3">
  <Info>
    <Parent Key="3acf6faf-9fc0-4ea4-8f37-39d2ba253473">About Us</Parent>
    <Path>/GrooveJuiceSwing/AboutUs/GJSManifesto</Path>
    <Trashed>false</Trashed>
    <ContentType>basicPage</ContentType>
    <CreateDate>2024-12-30T00:34:45</CreateDate>
    <NodeName Default="GJS Manifesto" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98c7f914-2ffa-45ea-88a3-a7a6e7fb5330">basicPageTemplate</Template>
  </Info>
  <Properties>
    <blockGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6d925317-9b05-4dd5-bf87-2f1286cf233a",
      "key": "22c6ec14-ffc0-4d3b-8984-05334176e373",
      "udi": null,
      "values": [
        {
          "alias": "column1Content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EWe strive to create a dance community which is inclusive, friendly, and social. We encourage people to be kind and compassionate to each other. We all act as mentors to encourage and nurture beginner and advanced dancers alike.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "column2Content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003E\u003Cimg src=\u0022?width=300\u0026amp;height=113\u0026amp;mode=\u0022 alt=\u0022manifesto_image_1_300x113.jpg\u0022 data-udi=\u0022umb://media/25935d8990174cac8bb96c1a6299f7c9\u0022\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "column1Width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "7"
        },
        {
          "alias": "column2Width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "5"
        }
      ]
    },
    {
      "contentTypeKey": "6d925317-9b05-4dd5-bf87-2f1286cf233a",
      "key": "d6c3f2fb-8b88-4e92-b6d2-cd66d312552e",
      "udi": null,
      "values": [
        {
          "alias": "column1Content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003E\u003Cimg src=\u0022?width=300\u0026amp;height=202\u0026amp;mode=\u0022 alt=\u0022manifesto_image_2_300x202.jpg\u0022 data-udi=\u0022umb://media/127392fea4a7446da4d14561e8f579d8\u0022\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "column2Content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EWe provide a place for students, teachers, and community members to learn, create, and grow. We support and foster self-expression. Teachers especially enjoy helping students reach their individual goals regarding social dancing, performing, competing, teaching, or having fun.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "column1Width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "5"
        },
        {
          "alias": "column2Width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "7"
        }
      ]
    },
    {
      "contentTypeKey": "0add2983-5929-41df-be17-ca091fadd242",
      "key": "9209f597-2401-4d91-819c-b337885e2204",
      "udi": null,
      "values": [
        {
          "alias": "blockRTE1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003EOur events and workshops foster a stronger, more sustainable community of dancers, by improving creative thinking, learning, and providing growth to all levels of dancers and the entire dance community. We strive to create and host events which are affordable and accessible to everyone.\u003Cbr\u003EWhile not officially a not-for-profit, we act as one.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "6d925317-9b05-4dd5-bf87-2f1286cf233a",
      "key": "0ae49042-ea92-467d-8e99-720af469b116",
      "udi": null,
      "values": [
        {
          "alias": "column1Content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003E\u003Cimg src=\u0022?width=200\u0026amp;height=201\u0026amp;mode=\u0022 alt=\u0022manifesto_image_4_200x201.jpg\u0022 data-udi=\u0022umb://media/5ccfe4242d274a3783e23ff6f5cbb50f\u0022\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "column2Content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EWe help bridge the gap between music and the dance. We support local and national swing musicians by employing bands, purchasing their CDs, and attending their shows.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "column1Width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "column2Width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "9"
        }
      ]
    },
    {
      "contentTypeKey": "6d925317-9b05-4dd5-bf87-2f1286cf233a",
      "key": "f41cbe3c-6da6-4993-ba79-7922dc61d2f4",
      "udi": null,
      "values": [
        {
          "alias": "column1Content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp style=\u0022text-align: right;\u0022\u003EWe share and teach the history of the dance. Lindy Hop has long and deep historical roots which are the foundation and inspiration of our modern dance scenes.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "column2Content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003E\u003Cimg src=\u0022?width=300\u0026amp;height=200\u0026amp;mode=\u0022 alt=\u0022manifesto_image_5_300x200.jpg\u0022 data-udi=\u0022umb://media/1285bbc4d92a41d6b01e971d61239db8\u0022\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "column1Width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "7"
        },
        {
          "alias": "column2Width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "5"
        }
      ]
    },
    {
      "contentTypeKey": "0add2983-5929-41df-be17-ca091fadd242",
      "key": "dcdc575b-a307-4486-b414-b47e122d6edb",
      "udi": null,
      "values": [
        {
          "alias": "blockRTE1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Ch2 style=\u0022text-align: center;\u0022\u003EWe\u0027re happy when we\u0027re dancing, and sharing\u003Cbr\u003Ethe love of dancing with the community around us.\u003C/h2\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "22c6ec14-ffc0-4d3b-8984-05334176e373",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d6c3f2fb-8b88-4e92-b6d2-cd66d312552e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9209f597-2401-4d91-819c-b337885e2204",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0ae49042-ea92-467d-8e99-720af469b116",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f41cbe3c-6da6-4993-ba79-7922dc61d2f4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dcdc575b-a307-4486-b414-b47e122d6edb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "22c6ec14-ffc0-4d3b-8984-05334176e373",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "d6c3f2fb-8b88-4e92-b6d2-cd66d312552e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "9209f597-2401-4d91-819c-b337885e2204",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "0ae49042-ea92-467d-8e99-720af469b116",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "f41cbe3c-6da6-4993-ba79-7922dc61d2f4",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "dcdc575b-a307-4486-b414-b47e122d6edb",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockGrid>
    <customScripts>
      <Value><![CDATA[]]></Value>
    </customScripts>
    <customStyles>
      <Value><![CDATA[]]></Value>
    </customStyles>
    <showSubnav>
      <Value><![CDATA[]]></Value>
    </showSubnav>
    <subnavFromNode>
      <Value><![CDATA[]]></Value>
    </subnavFromNode>
    <subnavTitle>
      <Value><![CDATA[]]></Value>
    </subnavTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>