<?xml version="1.0" encoding="utf-8"?>
<Content Key="5def6137-c261-4f99-bf78-d7d85fc492a9" Alias="Groove Juice Specials" Level="3">
  <Info>
    <Parent Key="405f1468-400a-41e5-a67f-dbe11c3d800c">Events</Parent>
    <Path>/GrooveJuiceSwing/Events/GrooveJuiceSpecials</Path>
    <Trashed>false</Trashed>
    <ContentType>grooveJuiceSpecials</ContentType>
    <CreateDate>2025-01-12T22:49:59</CreateDate>
    <NodeName Default="Groove Juice Specials" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>