<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e162f00-50c0-470c-8588-13c2ea55334b" Alias="Groove Juice Swing" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GrooveJuiceSwing</Path>
    <Trashed>false</Trashed>
    <ContentType>homepage</ContentType>
    <CreateDate>2024-12-01T18:08:09</CreateDate>
    <NodeName Default="Groove Juice Swing" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6ef671cb-0bd6-4a0c-863a-e1f9218fd313">homepageTemplate</Template>
  </Info>
  <Properties>
    <bottomBannerImage>
      <Value><![CDATA[[
  {
    "key": "63c561ee-e882-41c4-8dc6-02c2a4e1e075",
    "mediaKey": "8b223cbd-74d0-4763-a175-22b566c80e78",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bottomBannerImage>
    <content1>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003EHomepage\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </content1>
    <copyrightHolder>
      <Value><![CDATA[Groove Juice Swing, LLC]]></Value>
    </copyrightHolder>
    <description>
      <Value><![CDATA[Groove Juice Swing is committed to spreading the joy of Lindy Hop and swing dancing in Rochester NY.]]></Value>
    </description>
    <facebook>
      <Value><![CDATA[https://www.facebook.com/GrooveJuiceSwing]]></Value>
    </facebook>
    <footerBottomText>
      <Value><![CDATA[*Groove Juice Swing is a grateful recipient of the [Monroe County JumpstARTS Grant](https://www.monroecounty.gov/) Program.*]]></Value>
    </footerBottomText>
    <footerMiddleText>
      <Value><![CDATA[#### Questions or Comments?
If the answer's not in our [FAQ list](9dc87844-ea74-42a9-81c4-a9d63a75d6c9), or on our [Policies page](23df10b2-e323-46f0-bc9e-80b19fde5d64), please [email us](mailto:info@groovejuiceswing.com) for more information.]]></Value>
    </footerMiddleText>
    <footerSideText>
      <Value><![CDATA[**Groove Juice Swing**, established in 2004, is based in Rochester, NY and specializes in Lindy Hop, the original form of swing dance from the 1920s and 1930s. Groove Juice Swing offers dance classes, weekly social dances, live band dance events, performances, and dance workshops throughout the year.]]></Value>
    </footerSideText>
    <instagram>
      <Value><![CDATA[https://www.instagram.com/gjswing/]]></Value>
    </instagram>
    <logo>
      <Value><![CDATA[[
  {
    "key": "b0368a58-9785-4247-b2a9-8d42c57522e1",
    "mediaKey": "715da8b5-7779-4e1b-9c2a-5c7789f15bdd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo>
    <mailingAddress>
      <Value><![CDATA[Groove Juice Swing  
295 Gregory St.  
Rochester, NY 14620  
[info@groovejuiceswing.com](mailto:info@groovejuiceswing.com)]]></Value>
    </mailingAddress>
    <middleBannerImage>
      <Value><![CDATA[[
  {
    "key": "020e87c4-a8b2-4968-94a8-408dd2515bc2",
    "mediaKey": "630e6eff-3f59-4f84-a09a-619029c02259",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </middleBannerImage>
    <topBannerImage>
      <Value><![CDATA[[
  {
    "key": "079df65f-0134-4c3e-b35d-db5f3e5dfe63",
    "mediaKey": "5abd2012-cad2-4660-ab5f-78b302bbc0e6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </topBannerImage>
    <youTube>
      <Value><![CDATA[https://www.youtube.com/user/groovejuiceswing]]></Value>
    </youTube>
  </Properties>
</Content>