<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bcf4e59-713c-41ac-999b-779d0ac8a3db" Alias="Henrietta Heckamore" Level="3">
  <Info>
    <Parent Key="e6cf860e-015e-4514-8bda-352729a03503">Who We Are</Parent>
    <Path>/GrooveJuiceSwing/WhoWeAre/HenriettaHeckamore</Path>
    <Trashed>false</Trashed>
    <ContentType>bio</ContentType>
    <CreateDate>2024-12-22T14:23:06</CreateDate>
    <NodeName Default="Henrietta Heckamore" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <biography>
      <Value><![CDATA[This is the coolest person ever!]]></Value>
    </biography>
    <photo>
      <Value><![CDATA[[
  {
    "key": "3b0e8357-d98c-4871-be6a-4017398efbb9",
    "mediaKey": "868e7e23-a851-4aec-a9be-263ff8c7b7a8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </photo>
    <pronouns>
      <Value><![CDATA[Xe/Xit]]></Value>
    </pronouns>
    <role>
      <Value><![CDATA[Bergermeister]]></Value>
    </role>
  </Properties>
</Content>