<?xml version="1.0" encoding="utf-8"?>
<Content Key="f98789cb-ebe1-456b-a345-341ef376e02c" Alias="Kirk Malerkus" Level="3">
  <Info>
    <Parent Key="e6cf860e-015e-4514-8bda-352729a03503">Who We Are</Parent>
    <Path>/GrooveJuiceSwing/WhoWeAre/KirkMalerkus</Path>
    <Trashed>false</Trashed>
    <ContentType>bio</ContentType>
    <CreateDate>2024-12-20T23:10:34</CreateDate>
    <NodeName Default="Kirk Malerkus" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <biography>
      <Value><![CDATA[This is one heck of a dude!]]></Value>
    </biography>
    <photo>
      <Value><![CDATA[[
  {
    "key": "4aed6e95-30d2-4877-9fef-3940afe0c7f4",
    "mediaKey": "edf63d38-676c-4525-8d58-ec0a2b9159a8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </photo>
    <pronouns>
      <Value><![CDATA[He/Him]]></Value>
    </pronouns>
    <role>
      <Value><![CDATA[Big Dude]]></Value>
    </role>
  </Properties>
</Content>