<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0068842-b40a-4b7c-88fe-d518e626babb" Alias="Movin' In 6" Level="4">
  <Info>
    <Parent Key="bfd37bd4-79bf-47d2-9d64-15e931f39134">Class Descriptions</Parent>
    <Path>/GrooveJuiceSwing/Classes/ClassDescriptions/MovinIn6</Path>
    <Trashed>false</Trashed>
    <ContentType>classDescription</ContentType>
    <CreateDate>2025-01-12T22:42:29</CreateDate>
    <NodeName Default="Movin' In 6" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <className>
      <Value><![CDATA[Movin' In 6]]></Value>
    </className>
    <description>
      <Value><![CDATA[This is a cool class!]]></Value>
    </description>
    <promoImage>
      <Value><![CDATA[[
  {
    "key": "5a7be361-95f4-4ae7-8c53-3a124c34dcc7",
    "mediaKey": "d337ae1c-a198-47e6-b1a8-e7a9dc3b04cc",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </promoImage>
  </Properties>
</Content>