<?xml version="1.0" encoding="utf-8"?>
<Content Key="681415d3-e972-47b5-8e47-cf6ea1a4a08b" Alias="Rimbo Shanti" Level="3">
  <Info>
    <Parent Key="e6cf860e-015e-4514-8bda-352729a03503">Who We Are</Parent>
    <Path>/GrooveJuiceSwing/WhoWeAre/RimboShanti</Path>
    <Trashed>false</Trashed>
    <ContentType>bio</ContentType>
    <CreateDate>2024-12-22T14:27:54</CreateDate>
    <NodeName Default="Rimbo Shanti" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <biography>
      <Value><![CDATA[I have three more cans in the trunk!]]></Value>
    </biography>
    <photo>
      <Value><![CDATA[[
  {
    "key": "1113e367-ff1f-481d-a417-8fb6d4271565",
    "mediaKey": "dd8ff5aa-0208-40bb-bdbe-15247b6a1951",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </photo>
    <pronouns>
      <Value><![CDATA[Hey/You]]></Value>
    </pronouns>
    <role>
      <Value><![CDATA[Paper Supervisor]]></Value>
    </role>
  </Properties>
</Content>