<?xml version="1.0" encoding="utf-8"?>
<Content Key="dfec9fca-ce57-43b2-87d6-bd03bbe5d22b" Alias="Rochester Lindy Jam" Level="3">
  <Info>
    <Parent Key="405f1468-400a-41e5-a67f-dbe11c3d800c">Events</Parent>
    <Path>/GrooveJuiceSwing/Events/RochesterLindyJam</Path>
    <Trashed>false</Trashed>
    <ContentType>regularEvent</ContentType>
    <CreateDate>2024-12-31T21:28:50</CreateDate>
    <NodeName Default="Rochester Lindy Jam" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98c7f914-2ffa-45ea-88a3-a7a6e7fb5330">basicPageTemplate</Template>
  </Info>
  <Properties>
    <admission>
      <Value><![CDATA[$8, First Timers come to dance for free!]]></Value>
    </admission>
    <blockGrid>
      <Value><![CDATA[]]></Value>
    </blockGrid>
    <customScripts>
      <Value><![CDATA[]]></Value>
    </customScripts>
    <customStyles>
      <Value><![CDATA[]]></Value>
    </customStyles>
    <daysTimes>
      <Value><![CDATA[Wednesdays, 8:30-10:30pm, Free lesson at 8:45]]></Value>
    </daysTimes>
    <description>
      <Value><![CDATA[Running continuously since 1995, Lindy Jam is Rochester's weekly Lindy Hop and Swing Dance Social.  Come with or without a partner, enjoy great swing tunes from our finest DJs, and dance the night away!  All on the beautiful ballroom floor of The Rose Room, 295 Gregory St. in the South Wedge.

You may park in the single strip of parking right next to the entry of our building, the public lot very close by on South Ave, or utilize street parking (mind the signs).  You may also park for the time being at The Historic German House until notified otherwise.]]></Value>
    </description>
    <location>
      <Value><![CDATA[The Rose Room, 295 Gregory Street, Rochester, NY]]></Value>
    </location>
    <promoImage>
      <Value><![CDATA[[
  {
    "key": "3e8fb9d9-a059-4d5e-817a-7d56d36242b0",
    "mediaKey": "1f7ba2b2-a9ff-439c-85cb-044ce180b5f7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </promoImage>
    <showMoreInfoLink>
      <Value><![CDATA[]]></Value>
    </showMoreInfoLink>
  </Properties>
</Content>