<?xml version="1.0" encoding="utf-8"?>
<Content Key="56c9a15b-ed3f-4d39-9c00-1e567234c3a4" Alias="Safety Policy" Level="4">
  <Info>
    <Parent Key="23df10b2-e323-46f0-bc9e-80b19fde5d64">Policies</Parent>
    <Path>/GrooveJuiceSwing/AboutUs/Policies/SafetyPolicy</Path>
    <Trashed>false</Trashed>
    <ContentType>basicPage</ContentType>
    <CreateDate>2024-12-30T00:37:21</CreateDate>
    <NodeName Default="Safety Policy" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98c7f914-2ffa-45ea-88a3-a7a6e7fb5330">basicPageTemplate</Template>
  </Info>
  <Properties>
    <blockGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0add2983-5929-41df-be17-ca091fadd242",
      "key": "0644601a-e8ce-4999-b86e-ff15e5c0d0c8",
      "udi": null,
      "values": [
        {
          "alias": "blockRTE1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003ELindy Hop is an athletic, high-paced style of dance, often involving acrobatic displays. For safety, Groove Juice Swing prohibits execution of air-steps, flips, other acrobatic maneuvers during its classes and events.\u003C/p\u003E\n\u003Cp\u003EClass and event attendees assume all responsibility and liability for any injuries they might suffer or cause during, and/or as a result of their participation in Groove Juice Swing events. Groove Juice Swing does not assume responsibility for injury to attendees\u0027 due to their personal behavior.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "0644601a-e8ce-4999-b86e-ff15e5c0d0c8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "0644601a-e8ce-4999-b86e-ff15e5c0d0c8",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockGrid>
    <customScripts>
      <Value><![CDATA[]]></Value>
    </customScripts>
    <customStyles>
      <Value><![CDATA[]]></Value>
    </customStyles>
    <showSubnav>
      <Value><![CDATA[]]></Value>
    </showSubnav>
    <subnavFromNode>
      <Value><![CDATA[]]></Value>
    </subnavFromNode>
    <subnavTitle>
      <Value><![CDATA[]]></Value>
    </subnavTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>