<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cdd61d0-2ea1-4cdb-bd44-e8082dcb3d39" Alias="Stavronculus Butts" Level="3">
  <Info>
    <Parent Key="e6cf860e-015e-4514-8bda-352729a03503">Who We Are</Parent>
    <Path>/GrooveJuiceSwing/WhoWeAre/StavronculusButts</Path>
    <Trashed>false</Trashed>
    <ContentType>bio</ContentType>
    <CreateDate>2024-12-22T14:26:18</CreateDate>
    <NodeName Default="Stavronculus Butts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <biography>
      <Value><![CDATA[Who's afraid of the big bad wolf?]]></Value>
    </biography>
    <photo>
      <Value><![CDATA[[
  {
    "key": "2e647854-c29c-4452-9ab7-d21794e83d6b",
    "mediaKey": "1561f459-17e1-4fa5-b19c-744db73b1c55",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </photo>
    <pronouns>
      <Value><![CDATA[We/Went]]></Value>
    </pronouns>
    <role>
      <Value><![CDATA[Sommelier]]></Value>
    </role>
  </Properties>
</Content>