<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a0758d5-9df8-4fd4-a82b-c5fe1aaead7e" Alias="Sweetheart Ball with Gretta and the Getaway" Level="4">
  <Info>
    <Parent Key="5def6137-c261-4f99-bf78-d7d85fc492a9">Groove Juice Specials</Parent>
    <Path>/GrooveJuiceSwing/Events/GrooveJuiceSpecials/SweetheartBallWithGrettaAndTheGetaway</Path>
    <Trashed>false</Trashed>
    <ContentType>grooveJuiceSpecial</ContentType>
    <CreateDate>2025-01-12T22:50:59</CreateDate>
    <NodeName Default="Sweetheart Ball with Gretta and the Getaway" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98c7f914-2ffa-45ea-88a3-a7a6e7fb5330">basicPageTemplate</Template>
  </Info>
  <Properties>
    <admission>
      <Value><![CDATA[$20]]></Value>
    </admission>
    <blockGrid>
      <Value><![CDATA[]]></Value>
    </blockGrid>
    <customScripts>
      <Value><![CDATA[]]></Value>
    </customScripts>
    <customStyles>
      <Value><![CDATA[]]></Value>
    </customStyles>
    <dateTime>
      <Value><![CDATA[February 15, 2025, 8pm-11pm]]></Value>
    </dateTime>
    <description>
      <Value><![CDATA[Text and stuff]]></Value>
    </description>
    <location>
      <Value><![CDATA[The Rose Room]]></Value>
    </location>
    <promoImage>
      <Value><![CDATA[[
  {
    "key": "e2212c4a-c129-4937-b647-d9429bb6ea3c",
    "mediaKey": "de217c18-4870-4dc7-bf7d-5b43bee0221a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </promoImage>
  </Properties>
</Content>