<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6cf860e-015e-4514-8bda-352729a03503" Alias="Who We Are" Level="2">
  <Info>
    <Parent Key="8e162f00-50c0-470c-8588-13c2ea55334b">Groove Juice Swing</Parent>
    <Path>/GrooveJuiceSwing/WhoWeAre</Path>
    <Trashed>false</Trashed>
    <ContentType>basicPage</ContentType>
    <CreateDate>2024-12-22T20:33:54</CreateDate>
    <NodeName Default="Who We Are" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="98c7f914-2ffa-45ea-88a3-a7a6e7fb5330">basicPageTemplate</Template>
  </Info>
  <Properties>
    <blockGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0add2983-5929-41df-be17-ca091fadd242",
      "key": "15afe7e1-f5c7-4ae4-b8d3-eadadca32ac9",
      "udi": null,
      "values": [
        {
          "alias": "blockRTE1",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EStaff members and instructors are passionate about all things Lindy Hop, traveling all over the world to compete against and learn from the very best Lindy Hoppers. They bring that same commitment and enthusiasm to the dance community in Rochester.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "99f539ed-aa01-4d62-955d-4014bca9174d",
      "key": "6a02d292-4ea5-4621-ad6e-c96765bb023d",
      "udi": null,
      "values": [
        {
          "alias": "parentPage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/e6cf860e015e45148bda352729a03503"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "15afe7e1-f5c7-4ae4-b8d3-eadadca32ac9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6a02d292-4ea5-4621-ad6e-c96765bb023d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "15afe7e1-f5c7-4ae4-b8d3-eadadca32ac9",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "areas": [],
        "columnSpan": 12,
        "contentKey": "6a02d292-4ea5-4621-ad6e-c96765bb023d",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockGrid>
    <customScripts>
      <Value><![CDATA[]]></Value>
    </customScripts>
    <customStyles>
      <Value><![CDATA[]]></Value>
    </customStyles>
    <showSubnav>
      <Value><![CDATA[]]></Value>
    </showSubnav>
    <subnavFromNode>
      <Value><![CDATA[]]></Value>
    </subnavFromNode>
    <subnavTitle>
      <Value><![CDATA[]]></Value>
    </subnavTitle>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>