@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300;1,400;1,600;1,700&display=swap);

html { background-color: rgba(241, 206, 113, 1); 
       background-image: -webkit-gradient(
           linear, left top, right top, 
           color-stop(0, rgba(230, 175, 23, 1)), 
           color-stop(.4, rgba(249, 229, 176, 1)), 
           color-stop(.6, srgba(249, 229, 176, 1)), 
           color-stop(1, rgba(230, 175, 23, 1))
       );
       margin: 0; padding: 0; font: 12pt / 1.6 'Josefin Sans', sans-serif; }
body { margin: 0; padding: 1em; }
header, footer { display: flex; align-items: center; justify-content: center; }

nav { background-color: rgba(230, 175, 23, 1); display: flex;  justify-content: space-between; }
nav ul { display: flex; list-style-type: none; margin: 0; padding: 0; }
nav ul li { padding: .5em 1em; }
nav ul li.current { background: white; }

/*nav ul li ul { display: none; }*/
main { display: flex; flex-wrap: wrap; gap: 0 2em; margin: 0 0 1em 0; padding: 1em; background-color: white; justify-content: left; }
main h1, main h2 { letter-spacing: -.25pt; }
main h1 { color: rgba(2, 53, 83, 1); margin: 0; }
main h1:first-child { width: 100%; }
main h2 { color: rgba(85, 143, 144, 1); margin: 0; }
main ul { list-style-type: disc; padding: 0 1.5em; }
main blockquote { background: rgba(200, 200, 237, 0.5); margin: 1em 0; padding: .25em 1em; }

main table { margin: 0 0 1.25em 0; padding: 0; border-collapse: collapse; }
main table tr:nth-child(even) { background-color: transparent; }
main table tr:nth-child(odd) { background-color: rgba(227, 234, 237, .5); }
main table tr th { border-bottom: 1px solid rgba(2, 53, 83, 1); border-top: 1px solid rgba(2, 53, 83, 1); }
main table tr th, main table tr td { padding: .5em; text-align: left; vertical-align: top; }
main table tr:last-child td { border-bottom: 1px solid rgba(2, 53, 83, 1); }
main table tr td ul { padding: 0; }

main article { }
main article:not(:first-child) { flex: 1; }

main aside { width: 20%; }
main aside h2 { color: rgb(161, 5, 18); }

main aside ul.subNavigation { list-style-type: none; margin: 0; padding: 0; }
main aside ul.subNavigation li { background: red; line-height: 3; padding: 0 1em; }